
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/public/uploads
###< symfony/framework-bundle ###
.vscode/settings.json

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
