.fondopip {
	background-image:url("../img/storelogoheader.png");
	background-repeat: no-repeat;
}

.divisor {
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.item_tienda {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.color_picker {
	border-bottom: 1px solid #ddd;
}

.login_header {
	width: 20em;
	margin: auto;
	background-color: rgba(255,255,255,0.1);
	
}

/* Modifs del login */
.centrar {
	margin-left: 26px !important; 
    display:block;
    margin:auto;
}	

.color_number{
	color: rgb(255, 255, 255);
	font-size: 13px !important; 
}

/* Selector del color standard en producto */
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.colonial_std_1{background-image:url("../img/colonial_std_1.png");}
.colonial_std_2{background-image:url("../img/colonial_std_2.png");}
.colonial_std_3{background-image:url("../img/colonial_std_3.png");}
.colonial_std_4{background-image:url("../img/colonial_std_4.png");}
.colonial_std_5{background-image:url("../img/colonial_std_5.png");}
.colonial_std_6{background-image:url("../img/colonial_std_6.png");}

.cc-selector input:active +.drinkcard-cc{opacity: .1;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}


.color_teja_custom {
    background-blend-mode: color;
    background-size: contain;
    width: 150px;
    height: 150px;
}

/* imagen del carro contento y triste */

.carro_vacio {
    min-height: 400px;
    background-image:url("../img/carro_vacio.png");
    background-repeat: no-repeat;
    background-position: center center;
}   

.carro_lleno {
    background-image:url("../img/carro_lleno.png") !important ; 
}
