<html>
    <header>
        <title>Bienvenido</title>
    </header>
    <body>

        <h3>Usted se ha registrado con exito!</h3>
        
        Hola {{ data.contactName }}! Bienvenido a Asothella.
        
        Su cuenta deberá contar con la aprobación de los administradores de Asothella.
        No se preocupe, nosotros le informaremos vía correo electrónico en menos de 24 hs.
        
        Para loguearse, ingrese a esta dirección: <a href="/login">...</a> con la dirección de correo electrónico y la contraseña que registró.
        
        Gracias!
        
    </body>
</html>
