<h3>Usted se ha registrado con exito!</h3>

Hola {{ contactName }}! Bienvenido a Asothella.

Su cuenta deberá contar con la aprobación de los administradores de Asothella.
No se preocupe, nosotros le informaremos vía correo electrónico en menos de 24 hs.

Para loguearse, ingrese a esta dirección: <a href="{{ url('login') }}">...</a> con la dirección de correo electrónico y la contraseña que registró.

Gracias!
